<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <a href="/tag-edit/{{this._id}}" data-id-tag="{{this._id}}" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
  <a href="/tag-delete/{{this._id}}" data-id-tag="{{this._id}}" class="fa fa-trash table-icon"></a>
</td>